opam-version: "2.0"
synopsis: "Void minimal isolated OCaml service"
depends: [
  "ocaml" {>= "5.1.0"}
  "dune" {>= "3.10"}
  "dream" {>= "1.0.0~alpha6"}
  "caqti" {>= "2.0.1"}
  "caqti-lwt" {>= "2.0.1"}
  "caqti-driver-sqlite3" {>= "2.0.1"}
  "lwt" {>= "5.7.0"}
  "lwt_ppx" {>= "2.1.0"}
]
